# Python Tutorial For Beginners | Python Full Course From Scratch | Python Programming | Edureka

#### P001:- Agenda for the session
* Introduction to python
* Sequence and File operations
* Functions and OOPs
* Working to Numpy and Pandas
* Data Visulization
* Data Manuplation
* Web Maps
* Computer visoon using OpenCV

#### P002:- Introduction to Python
* Why Python
    * Simple and easy to learn
    * Free and open source
    * High level language
    * Portable
    * Supports different programming paradigm
    * Extensible

#### P003:- Who is using Python
* Youtube
* Google
* Dropbox
* Resberipy
* Bittorrent
* Nasa
* NSA
* Netflix

#### P004:- Python Applications
* Web scraping
* Testing
* Web Development
* Data Analysis

#### P005:- Python Market Trends

#### P006:- Python Installation

#### P007:- Python IDE & Interpreter

#### P008:- Executing Code in Python

#### P009:- Comments and Literals

In [1]:
# This is a single line comment

"""
This is multiple line code
we can comment all of it
It is simple
"""

'\nThis is multiple line code\nwe can comment all of it\nIt is simple\n'

#### P010:- Indentation

#### P011:- Python Code Execution

#### P012:- Hello World Program Using Python

In [2]:
print("Hello world")
print("Hello world")
print("Hello to Python")
print("Happy learning \nWellcome ")

Hello world
Hello world
Hello to Python
Happy learning
Wellcome

#### P013:- Variables

In [3]:
a = 10
b = "Hassan"
print(a,b)

10 Hassan

In [4]:
x,y,z = 10,20,30
print(x)
print(y)
print(z)

10
20
30

#### P014:- Identifiers
* lowercase
* start with a to z or _
* can't start with a number
* class starts with Upercase

#### P015:- Data Types
* Mutable
    * Lists
    * Dict.
    * Set
* Immutable
    * numbers
    * strings
    * tuples

#### P016:- Immutable Data Types
* numbers
* string
* tuples

#### P017:- Numeric Data Type
* numbers
    * int
    * float
    * complex
    * can be represted in
        * Binary
        * Octal
        * Hexa

In [5]:
a = 10
b = 20
c = a+b
print("a = ", a)
print("b = ", b)
print("c = ", c)
print("Type of a = ", type(a))
print("Type of b = ", type(b))
print("Type of c = ", type(c))

a =  10
b =  20
c =  30
Type of a =  <class 'int'>
Type of b =  <class 'int'>
Type of c =  <class 'int'>

#### P018:- Strings

In [6]:
a = "Hassan Ali Khan"
print(a)
print(type(a))

Hassan Ali Khan
<class 'str'>

#### P019:- Tuples

In [7]:
t = (1,2,3,4,5)
print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

In [8]:
t[0]

1

#### P020:- Mutable Data Type
 * List
 * Dict
 * Sets

#### P21:- Lists

In [9]:
a = [1,2,3.2,4,"Hassan"]
print(a)

[1, 2, 3.2, 4, 'Hassan']

In [10]:
a[2]

3.2

In [11]:
a[3]="Hello"

In [12]:
a

[1, 2, 3.2, 'Hello', 'Hassan']

In [13]:
b = [[1,2,3],4,"Hassan",(10,9,8)]
b

[[1, 2, 3], 4, 'Hassan', (10, 9, 8)]

In [14]:
b[0][2]

3

#### P22 Dictionaries

In [15]:
a = {'Age':24,'Name':"Hassan Ali Khan"}
a

{'Age': 24, 'Name': 'Hassan Ali Khan'}

In [16]:
a['Age']

24

#### P23 Sets

In [17]:
a = {1,2,3,3,4,5,5}
a

{1, 2, 3, 4, 5}

#### P24 Python Operators
* Arithmetic
* Assignment
* Comparison
* Logical
* Bitwise
* Identity
* Membership

#### P25 Arithmetic Operator

In [18]:
a = 29
b = 27
a+b

56

In [19]:
a-b

2

In [20]:
a*b

783

In [21]:
a/b

1.0740740740740742

In [22]:
a%b

2

In [23]:
a**b

3053134545970524535745336759489912159909

In [24]:
a//b

1

#### P26 Assignment Operator
* a = a+b => a +=b
* -
* *
* /
* `**`
* //

#### P27 Comparison Operator
* ==
* !=
* `>`
* <
* `>=`
* <=

#### P28 Logical Operators
* and gives lowest value
* or gives highest value

#### P29 Bitwise Operator
* &
* |
* ^
* Â¬
* `<<`
* `>>`

#### P30 Identity Operator

In [25]:
print(4 is 5)

False

In [26]:
print(4 is not 5)

True

#### P31 MemberShip Operator
 * in 
 * not in